<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
   <title>Ques2</title>
   <style>
       #container{
           width:70%;
           margin: 70px auto;
       }
   </style>
</head>
<body>




<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>         
<script>

Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Stacked column chart'
    },
    xAxis: {
        categories: [2008, 2009, 2010, 2011,
                               2012, 2013, 2014, 2015, 2016, 2017]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'teams winning per season'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            // dataLabels: {
            //     enabled: true,
            //     color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            // }
        }
    },
    series: [{% for team_names, winning_list in teams_winning_per_season.items %}
        {
         name: '{{ team_names }}',
         data: {{ winning_list}}
        },
        
        {% endfor %} ]
});
</script>
</body>
</html>


